*{
    padding: 0;
    margin: 0;
}

.box {
    border: indigo 1px solid;
}

.navbar {
margin-left: 10px;
margin-right: 10px;

    display: flex;
    color: black;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    border-radius: 10px;
}

.nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.n{
    margin-left: 100px;
    margin-right: 100px;
}
.ul {
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: plum;
    font-size: medium;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* i .fa-solid fa-house :hover {} */

.bg{
    background-color: rgba(221, 160, 221, 0.731);
}
        .header {
            text-transform: uppercase;
            text-align: center;
            padding: 30px;
            font-size: 2.5em;
            font-weight: bold;
            color: #333;
        }

        .portfolio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: white;
            box-shadow: 0 0 15px rgba(49, 45, 45, 0.927);
            max-width: 900px;
            margin: 20px auto;
            border-radius: 8px;
            border: #333 2px solid;
        }

        .portfolio-text {
            flex: 1;
        }

        .portfolio-text h1 {
            color: rgb(216, 75, 216);
            font-size: 2em;
            margin-bottom: 20px;
        }

        .portfolio-text p {
            text-align: justify;
            font-style: italic;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.2em;
            line-height: 1.6;
        }

        .portfolio-image {
            flex: 1;
            text-align: right;
        }

        .portfolio-image img {
            border-radius: 30px;
            border:  plum solid 2px;
            max-width: 50%;
            height: auto;
            border-radius: 8px;
        }